.DSYHome ul li{
    display:flex;align-items: center;font-size:0.4rem;
    padding:0.2rem 2%;background:#fff;
}
.DSYHome ul li span:nth-child(2){
    flex:1;
}
.DSYHome ul li span.img{
    width:1.3rem; height:1.3rem;margin:0.1rem 0rem;margin-right:0.3rem;
}
.DSYHome ul li span p{font-size:0.25rem;line-height:0.6rem;}
.DSYHome ul li span p >span{margin-right:0.3rem;}
.DSYHome ul li span p >span >span{margin-right:0.1rem;}
.DSYHome ul li span.img img{
    width:100%;height:100%;border-radius:100%;
}
.shezhi{
    padding:0.25rem 4%;background:#fff;margin-top:0.2rem;
    font-size:0.3rem;display:flex;align-items: center;
}
.zp{
    display:inline-block;
    width:0.8rem;
    height:0.8rem;
    background-size: contain;
}
.shezhi span.iconfonts{
    padding-right:0.2rem;color:#97989b;
}

/**SetUp设置*/
.DSYHome .iconfonts{display:inline-block;width:0.6rem;font-size:0.4rem}
.DSYHome ul.SetUpLi{
    font-size:0.3rem;margin-top:0.5rem;
}
.DSYHome ul.SetUpLi li{font-size:0.3rem;padding:0.25rem 4%;border-top:1px solid #f0f0f0}
.DSYHome ul.SetUpLi li span:nth-child(1){border-top:0px;flex:1;}
.DSYHome ul.SetUpLi li span:nth-child(2){width:inherit;height:inherit;flex:inherit}

.SetUpbutton{
    background:#fff;text-align:center;position:relative;margin-top:1rem;
}
.SetUpbutton button{
    width:100%;height:100%;background:none;padding:0.3rem 4%;
    border:0px;font-size:0.35rem;color:#f95355;font-weight:600;
    outline: none;
}
.icoLeft {
    margin-top:0.2rem;
}
.DSYHome ul.icoLeft li{
    font-size:0.3rem;padding:0rem 4%;
    padding-right:0px;height:1rem;
}
.DSYHome ul.icoLeft li span.imgIcon{
    display:inline-block;
    width:0.5rem;height:0.5rem;margin-right:0.2rem;
}
/*ul.icoLeft li:nth-child(1) span.imgIcon{
    background:url('../img/jb-1@3x.png');
    background-size:100% 100%;
}*/
ul.icoLeft li:nth-child(1) span.imgIcon{
    background:url('../img/jf.png');
    background-size:100% 100%;
}
ul.icoLeft li:nth-child(2) span.imgIcon{
    background:url('../img/news.png');
    /*background:url('../img/message.png');*/
    background-size:100% 100%;
}
ul.icoLeft li:nth-child(3) span.imgIcon{
    background:url('../img/newss.png');
    /*background:url('../img/message.png');*/
    background-size:100% 100%;
}
/*ul.icoLeft li:nth-child(2) span.imgIcon{*/
    /*background:url('../img/information@3x.png');*/
    /*background-size:100% 100%;*/
/*}*/

.DSYHome ul.icoLeft li span.rightTopBorder{
    border-top:1px solid #f0f0f0;height:100%;line-height:1rem;
}
.DSYHome ul li .GR{
    display:inline-block;
    width:0.5rem;height:0.5rem;margin-right:0.2rem;
    background:url('../img/information@3x.png');
    background-size:100% 100%;
}
.DSYHome ul.icoLeft li:nth-child(1) span.rightTopBorder{
    border:0px;
}
/**关于**/
.HomeLogoStyle{
    padding:20% 35%;text-align:center;
    padding-bottom:5%;
}
.HomeLogoStyle img{
    width:100%;
}
.HomeLogoStyle span{
    display:inline-block;
    padding-top:10%;
}


/**修改密码**/
.changePassword ul{
    background:#fff;margin-top:0.4rem;
}
.changePassword ul li {
    display:flex;align-items: center;
    border-top:1px solid #f0f0f0;height:0.9rem;margin-left:0.2rem;
}
.changePassword ul li:nth-child(1){
    border:0px;
}
.changePassword ul li input{
    flex:1;border:0px;height:100%;padding-left:0.2rem;outline: none;
}
.buttonStyle{margin-top:1rem;text-align:center;}
.buttonStyle input{
    width:80%;padding:0.2rem 0;border-radius:6px;border:0px;background:#4d89f4;color:#fff;
    font-size:0.35rem;outline: none;
}
input[type="button"], input[type="submit"], input[type="reset"] {

    -webkit-appearance: none;

}

textarea {  -webkit-appearance: none;}


/**费率介绍**/
.defaultFlv{
    width:70%;border-radius:6px;overflow:hidden;background:#fff;padding-bottom:0.2rem;
}
.defaultFlv >span{
    display:block;width:100%;padding:0.15rem;
    background:#548df5;text-align:center;color:#fff;
}
.defaultFlv ul li{
    display:flex;line-height:0.6rem;
}
.defaultFlv ul li span{
    flex:1;text-align:center;
}
.payspan{
    display:inline-block;
    width:0.4rem;
    height:0.4rem;
}
.payspan .la{
    float:right;
    width:0.4rem;
    height:0.4rem;
    background:url('../img/checked.png');
}
.payspan .lab{
    float:right;
    width:0.4rem;
    height:0.4rem;
    background:url('../img/nochecked.png');
}
.tictit{
    padding:0.1rem 0.3rem;
}
.tictitborder{
    border:0.01rem solid #FF2F2F;
    color:#FF2F2F;
}
.tictitbord{
    border:0.01rem solid #404040;
    color:#404040;
}
.tictckblock{
    diaplay:block;
}
.tictcknone{
    display: none;
}
.ucss{
    margin-left:0.1rem;
}
.divb{
    padding: 0.2rem 0;
}
.newadd {
    padding: 0 0.2rem;
    background:#fff;
}
.newadd li{
    padding:0.2rem 0;
    border-bottom:0.01rem solid #FBFBFB;
}
.newadd input{
    outline:none;
    border:none
}
.cs{
    background:#fff;
    font-size:16px;
}
.cs>li{
    display:flex;
    padding:0.4rem 0.2rem;
    justify-content: center;
    align-items: center;
}
.cs>li>span{
    display:inline-block;
    width:1.2rem;
    margin-left:0.2rem;
}
.cs>li>span:nth-of-type(2){
    flex:1;
}
.sf{
    width:3rem;
    height: 0.8rem;
    float:right;
    outline:none;
}

.testswitch {
    position: relative;
    float: left;
    width: 90px;
    margin: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

.testswitch-checkbox {
    display: none;
}

.testswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border:0.02rem solid #999999;
    border-radius: 0.5rem;
}

.testswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.testswitch-inner::before, .testswitch-inner::after {
    display: block;
    float: right;
    width: 50%;
    height: 0.6rem;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family:
            Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.testswitch-inner::after {
    content: attr(data-on);
    padding-left: 10px;
    background-color: #00e500;
    color: #FFFFFF;
}

.testswitch-inner::before {
    content: attr(data-off);
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.testswitch-switch {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    margin: 4px;
    background: #FFFFFF;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-inner {
    margin-left: 0;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-switch {
    right: 0px;
}
.switch{
    width:1rem;
    height:0.5rem;
    border-radius:2.2rem;
    overflow: hidden;
    vertical-align:middle;
    position:relative;
    display: inline-block;
    background:#ccc;
    box-shadow: 0 0 0.01rem #ccc;
    float: right;
}
.switch1{
    background:#ccc;
}
.switch2{
    background:#4CD864;
}
.switch input{
    visibility: hidden;
}
.switch span{
    position:absolute;
    top:0;
    left:0;
    border-radius: 50%;
    background:#fff;
    width:50%;
    height:100%;
    transition:all linear 0.2s;
}
.switch spa{
    position: absolute;
    top:0;
    left:-100%;
    content:'';
    width:200%;
    height:100%;
    border-radius: 0.2rem;
    background:#4CD864;
}
.switch .sp{
    content:'';
    position:absolute;
    left: 50%;
    top:0;
    height:100%;
    border-radius: 50%;
    background:#fff;
}
.switch input:checked +span{
    transform:translateX(100%);
}

.person1{
    background: #F9F9F9;
    font-size: 0.32rem;
}
.person1 ul{
    margin-top: 0.15rem;
    background: #FFFFFF;
}
.person1 ul li{
    padding: 0.25rem;
    border-bottom:0.01rem solid #F9F9F9;
}
.person1 ul li span:nth-of-type(1){
    font-weight: 600;
}
.person1 ul li span:nth-of-type(2){
    float: right;
    color:#A2A2A2;
}
.mesbacred{
    display:inline-block;
    background: red;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 14px;
    line-height: 0.5rem;
    /*width: 0.6rem;*/
    height: 0.5rem;
    /*text-align: center;*/
    padding: 0 0.16rem;
    position: absolute;
    right: 0.6rem;
    top:0.24rem;
    /*display: table-cell;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
}
