.cx{
    padding:0.05rem 0.2rem;
    border-radius: 0.05rem;
    margin-right:0.2rem;
    z-index:2222222;
}
.cxborder{
    border: 1px solid #5398FC;
    background: #EDF4F5;
    color: #5398FC;
}
.cxbord{
    border:1px solid #ddd;
}
.fdj .baseLi .style1 .LiTRight{
    border-top:0.02rem solid #f0f0f0;
}
.datelj .BaseTitle h4{
    color:#757575;
}
.datelj .DetailedList li{
    margin-bottom: 0!important;
    border-bottom: 0.01rem solid #ccc;
}
.qy{
    width:100%;
    height:65%;
    background: #fff;
    border-radius: 0.1rem 0.1rem 0 0;
    position:fixed;
    bottom:0;
    display: flex;
    flex-direction: column;
}
.checkqy1{
    width: 100%;
    text-align: center;
    display: flex;
    line-height: 0.8rem;
    font-size: 0.3rem;
    border-bottom: 0.01rem solid #E1E1E1;
}
.checkqy span:nth-last-child(1){
    line-height: 0.8rem;
    float:right;
    margin-right: 0.2rem;
    font-size: 18px;
}
.qytitle{
    padding-left: 0.4rem;
}
.sfp{
    width:100%;
    height:10%;
    background:#FAFAFA;
    line-height:0.8rem
}
.lilist{
    padding:0.2rem 0.2rem 0.2rem 0;
    padding-left: 0.4rem;
}
.sfdiv{
    display: block;
    position:relative;
    min-height:100%;
    width:100%;
}
.sfdivnone{
    display: none;
    position:relative;
    min-height:100%;
    width:100%;
}