
*{
    margin:0px;padding:0px;list-style:none;
    font-family:PingFangSCLight;
}
.masages{
    width:100%;height:60vh;overflow:auto;
}

.masages li{margin:10px;overflow:hidden;}
.masages li >div{
    display:inline-block;max-width:300px;background:orange;border-radius:6px;float:left;padding:10px;
}
.masages li >div img{
    width:80%;
}
.masages .myselfe >div{float:right;background:yellow}
.massageValue{height:20vh;overflow:auto;border-radius:6px;border:1px solid royalblue;margin:5px;}